.mymodule-content {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(72,125,214,1) 100%);
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}


